.Hero {
    background-image: url("/public/images/Home/body-third.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: grey;
    text-align: center;
    color: white;
    padding: 10rem;
}

.body-first {
    padding: 2rem 5rem;
}

.body-first > * {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.body-first-first-txt,
.body-first-second-txt,
.body-first-third-txt {
    /* border: 1px solid red; */
    padding: 1rem 2rem;
}

.body-first-first-img {
    background-image: url("/public/images/Home/body-third.jpeg");
}

.body-first-first p,
.body-first-second p,
.body-first-third p {
    font-size: large;
}

.body-first-first,
.body-first-second {
    background-color: #efefef;
}

.body-first-second-img {
    background-image: url("/public/images/Home/body-third.jpeg");
}

.body-first-first-img,
.body-first-second-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.body-second {
    background-image: url("/public/images/Home/body-third.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #4f4f4f;
    height: 100%;
    padding: 5% 25%;
    text-align: center;
    color: white;
}

.body-second h1 {
    margin-bottom: 3rem;
}

.body-second p {
    font-size: large;
}

.body-second a {
    color: #5cc9ff;
}

.body-third {
    padding: 5rem 0;
}

.body-third-second {
    display: grid;
    grid-template-columns: 15% 15% 15%;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}


.body-third-second > * img {
    width: 100%;
    height: auto;
    border-radius: 10rem;
}
.body-third-second > * h3{
    margin-bottom: 0.5rem;
}