body {
    margin: 0;
}

.footer {
    background-color: #252525;
    display: grid;
    grid-template-columns: 25% 20%;
    justify-content: center;
    color: white;
    /* border: 1px solid red; */
    align-items: center;
    padding: 1.5rem 0 1rem 0;
}

.footer > * {
    justify-content: center;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
}

.footer-links > * {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-icon {
    margin-top: -0.2rem;
}