body {
    margin: 0;
}

footer {
    background-color: #151515;
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer-links,
.footer-links > * {
    display: flex;
}

.footer-links {
    gap: 5rem;
}

.footer-links > * {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}